# Server backend
fastapi
uvicorn

# Data structure
pydantic

# LLM and Agents
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-cohere
cohere
transformers
sentence-transformers
torch
google-genai

# Image
pillow

# Vector Store
langchain-chroma
langchain-text-splitters